requests
pandas
hopsworks
python-dotenv
confluent-kafka
scikit-learn 
joblib
pyarrow
shap
matplotlib
seaborn
statsmodels ; python_version <= '3.12'
tensorflow ; python_version <= '3.12'
xgboost ; python_version <= '3.12'